.Skills_wrapper {
    max-height: auto;
    background-color: #112e42;
    padding-bottom: 7rem;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

.heading {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.skills_row {
    display: flex;
    gap: 10rem;
    flex-wrap: wrap;
}

.skills_row .skills_column {
    flex: 1 1 40rem;
}

.skills_column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills_box .skills_content {
    position: relative;
    border: .2rem solid red;
    border-radius: .6rem;
    padding: .4rem 1.5rem;
}

.progress {
    padding: 1rem 0;
}

.progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.progress h3 span {
    font-size: 1.7rem;
    color: #fff;
}

.progress .bar {
    height: 1rem;
    border-radius: .6rem;
    border: .2rem solid rgb(214, 177, 177);
    padding: .5rem;
    margin: 1rem 0;
}

.progress .bar span {
    height: 100%;
    border-radius: .3rem;
    display: block;
    background: green;
}

.skills_row .skills_change {
    flex: 1 1 40rem;
}

.skills_change .writing {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
    color: #fff;
}

.skills_change_box .skills_change_content {
    position: relative;
    border: .2rem solid red;
    border-radius: .6rem;
    padding: .4rem 1.5rem;
}

.Stanley6 {
    padding: 1rem 0;
}

.Stanley6 h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.Stanley6 h3 span {
    font-size: 1.7rem;
    color: #fff;
}

.Stanley6 .bar {
    height: 1rem;
    border-radius: .6rem;
    border: .2rem solid rgb(214, 177, 177);
    padding: .5rem;
    margin: 1rem 0;
}

.Stanley6 .bar span {
    height: 100%;
    border-radius: .3rem;
    display: block;
    background: green;
}

.skills_content:nth-child(1) .progress:nth-child(1) .bar span {
    width: 100%;
}

.skills_content:nth-child(1) .progress:nth-child(2) .bar span {
    width: 100%;
}

.skills_content:nth-child(1) .progress:nth-child(3) .bar span {
    width: 50%;
}

.skills_content:nth-child(1) .progress:nth-child(4) .bar span {
    width: 60%;
}

.skills_change:nth-child(2) .Stanley6:nth-child(1) .bar span {
    width: 80%;
}

.skills_change:nth-child(2) .Stanley6:nth-child(2) .bar span {
    width: 20%;
}

.skills_change:nth-child(2) .Stanley6:nth-child(3) .bar span {
    width: 20%;
}

.skills_change:nth-child(2) .Stanley6:nth-child(4) .bar span {
    width: 70%;
}

@media (max-width:780px) {
    .Skills_wrapper {
        max-height: auto;
        background-color: #112e42;
        padding-bottom: 7rem;
        padding-left: 20px;
        padding-right: 20px;
        color: #fff;
    }
    .heading {
        font-size: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title {
        font-size: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    .skills_row {
        display: flex;
        gap: 10rem;
        flex-wrap: wrap;
    }
    .skills_row .skills_column {
        flex: 1 1 40rem;
    }
    .skills_column .title {
        font-size: 2.5rem;
        margin: 0 0 1.5rem;
    }
    .skills_box .skills_content {
        position: relative;
        border: .2rem solid red;
        border-radius: .6rem;
        padding: .4rem 1.5rem;
    }
    .progress {
        padding: 1rem 0;
    }
    .progress h3 {
        font-size: 1.7rem;
        display: flex;
        justify-content: space-between;
    }
    .progress h3 span {
        font-size: 1.7rem;
        color: #fff;
    }
    .progress .bar {
        height: 1rem;
        border-radius: .6rem;
        border: .2rem solid rgb(214, 177, 177);
        padding: .5rem;
        margin: 1rem 0;
    }
    .progress .bar span {
        height: 100%;
        border-radius: .3rem;
        display: block;
        background: green;
    }
    .skills_row .skills_change {
        flex: 1 1 40rem;
    }
    .skills_change .writing {
        font-size: 2.5rem;
        margin: 0 0 1.5rem;
        color: #fff;
    }
    .skills_change_box .skills_change_content {
        position: relative;
        border: .2rem solid red;
        border-radius: .6rem;
        padding: .4rem 1.5rem;
    }
    .Stanley6 {
        padding: 1rem 0;
    }
    .Stanley6 h3 {
        font-size: 1.7rem;
        display: flex;
        justify-content: space-between;
    }
    .Stanley6 h3 span {
        font-size: 1.7rem;
        color: #fff;
    }
    .Stanley6 .bar {
        height: 1rem;
        border-radius: .6rem;
        border: .2rem solid rgb(214, 177, 177);
        padding: .5rem;
        margin: 1rem 0;
    }
    .Stanley6 .bar span {
        height: 100%;
        border-radius: .3rem;
        display: block;
        background: green;
    }
    .skills_content:nth-child(1) .progress:nth-child(1) .bar span {
        width: 100%;
    }
    .skills_content:nth-child(1) .progress:nth-child(2) .bar span {
        width: 100%;
    }
    .skills_content:nth-child(1) .progress:nth-child(3) .bar span {
        width: 50%;
    }
    .skills_content:nth-child(1) .progress:nth-child(4) .bar span {
        width: 60%;
    }
    .skills_change:nth-child(2) .Stanley6:nth-child(1) .bar span {
        width: 80%;
    }
    .skills_change:nth-child(2) .Stanley6:nth-child(2) .bar span {
        width: 20%;
    }
    .skills_change:nth-child(2) .Stanley6:nth-child(3) .bar span {
        width: 20%;
    }
    .skills_change:nth-child(2) .Stanley6:nth-child(4) .bar span {
        width: 70%;
    }
}

@media (max-width:620px) {
    .Skills_wrapper {
        max-height: auto;
        background-color: #112e42;
        padding-bottom: 7rem;
        padding-left: 20px;
        padding-right: 20px;
        color: #fff;
    }
    .heading {
        font-size: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title {
        font-size: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    .skills_row {
        display: flex;
        gap: 10rem;
        flex-wrap: wrap;
    }
    .skills_row .skills_column {
        flex: 1 1 40rem;
    }
    .skills_column .title {
        font-size: 2.5rem;
        margin: 0 0 1.5rem;
    }
    .skills_box .skills_content {
        position: relative;
        border: .2rem solid red;
        border-radius: .6rem;
        padding: .4rem 1.5rem;
    }
    .progress {
        padding: 1rem 0;
    }
    .progress h3 {
        font-size: 1.7rem;
        display: flex;
        justify-content: space-between;
    }
    .progress h3 span {
        font-size: 1.7rem;
        color: #fff;
    }
    .progress .bar {
        height: 1rem;
        border-radius: .6rem;
        border: .2rem solid rgb(214, 177, 177);
        padding: .5rem;
        margin: 1rem 0;
    }
    .progress .bar span {
        height: 100%;
        border-radius: .3rem;
        display: block;
        background: green;
    }
    .skills_row .skills_change {
        flex: 1 1 40rem;
    }
    .skills_change .writing {
        font-size: 2.5rem;
        margin: 0 0 1.5rem;
        color: #fff;
    }
    .skills_change_box .skills_change_content {
        position: relative;
        border: .2rem solid red;
        border-radius: .6rem;
        padding: .4rem 1.5rem;
    }
    .Stanley6 {
        padding: 1rem 0;
    }
    .Stanley6 h3 {
        font-size: 1.7rem;
        display: flex;
        justify-content: space-between;
    }
    .Stanley6 h3 span {
        font-size: 1.7rem;
        color: #fff;
    }
    .Stanley6 .bar {
        height: 1rem;
        border-radius: .6rem;
        border: .2rem solid rgb(214, 177, 177);
        padding: .5rem;
        margin: 1rem 0;
    }
    .Stanley6 .bar span {
        height: 100%;
        border-radius: .3rem;
        display: block;
        background: green;
    }
    .skills_content:nth-child(1) .progress:nth-child(1) .bar span {
        width: 100%;
    }
    .skills_content:nth-child(1) .progress:nth-child(2) .bar span {
        width: 100%;
    }
    .skills_content:nth-child(1) .progress:nth-child(3) .bar span {
        width: 50%;
    }
    .skills_content:nth-child(1) .progress:nth-child(4) .bar span {
        width: 60%;
    }
    .skills_change:nth-child(2) .Stanley6:nth-child(1) .bar span {
        width: 80%;
    }
    .skills_change:nth-child(2) .Stanley6:nth-child(2) .bar span {
        width: 20%;
    }
    .skills_change:nth-child(2) .Stanley6:nth-child(3) .bar span {
        width: 20%;
    }
    .skills_change:nth-child(2) .Stanley6:nth-child(4) .bar span {
        width: 70%;
    }
}

@media (max-width:460px) {
    .Skills_wrapper {
        max-height: auto;
        background-color: #112e42;
        padding-bottom: 7rem;
        padding-left: 20px;
        padding-right: 20px;
        color: #fff;
    }
    .heading {
        font-size: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title {
        font-size: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    .skills_row {
        display: flex;
        gap: 10rem;
        flex-wrap: wrap;
    }
    .skills_row .skills_column {
        flex: 1 1 40rem;
    }
    .skills_column .title {
        font-size: 2.5rem;
        margin: 0 0 1.5rem;
    }
    .skills_box .skills_content {
        position: relative;
        border: .2rem solid red;
        border-radius: .6rem;
        padding: .4rem 1.5rem;
    }
    .progress {
        padding: 1rem 0;
    }
    .progress h3 {
        font-size: 1.7rem;
        display: flex;
        justify-content: space-between;
    }
    .progress h3 span {
        font-size: 1.7rem;
        color: #fff;
    }
    .progress .bar {
        height: 1rem;
        border-radius: .6rem;
        border: .2rem solid rgb(214, 177, 177);
        padding: .5rem;
        margin: 1rem 0;
    }
    .progress .bar span {
        height: 100%;
        border-radius: .3rem;
        display: block;
        background: green;
    }
    .skills_row .skills_change {
        flex: 1 1 40rem;
    }
    .skills_change .writing {
        font-size: 2.5rem;
        margin: 0 0 1.5rem;
        color: #fff;
    }
    .skills_change_box .skills_change_content {
        position: relative;
        border: .2rem solid red;
        border-radius: .6rem;
        padding: .4rem 1.5rem;
    }
    .Stanley6 {
        padding: 1rem 0;
    }
    .Stanley6 h3 {
        font-size: 1.7rem;
        display: flex;
        justify-content: space-between;
    }
    .Stanley6 h3 span {
        font-size: 1.7rem;
        color: #fff;
    }
    .Stanley6 .bar {
        height: 1rem;
        border-radius: .6rem;
        border: .2rem solid rgb(214, 177, 177);
        padding: .5rem;
        margin: 1rem 0;
    }
    .Stanley6 .bar span {
        height: 100%;
        border-radius: .3rem;
        display: block;
        background: green;
    }
    .skills_content:nth-child(1) .progress:nth-child(1) .bar span {
        width: 100%;
    }
    .skills_content:nth-child(1) .progress:nth-child(2) .bar span {
        width: 100%;
    }
    .skills_content:nth-child(1) .progress:nth-child(3) .bar span {
        width: 50%;
    }
    .skills_content:nth-child(1) .progress:nth-child(4) .bar span {
        width: 60%;
    }
    .skills_change:nth-child(2) .Stanley6:nth-child(1) .bar span {
        width: 80%;
    }
    .skills_change:nth-child(2) .Stanley6:nth-child(2) .bar span {
        width: 20%;
    }
    .skills_change:nth-child(2) .Stanley6:nth-child(3) .bar span {
        width: 20%;
    }
    .skills_change:nth-child(2) .Stanley6:nth-child(4) .bar span {
        width: 70%;
    }
}

@media (max-width:420px) {
    .Skills_wrapper {
        max-height: auto;
        background-color: #112e42;
        padding-bottom: 7rem;
        padding-left: 20px;
        padding-right: 20px;
        color: #fff;
    }
    .heading {
        font-size: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title {
        font-size: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    .skills_row {
        display: flex;
        gap: 10rem;
        flex-wrap: wrap;
    }
    .skills_row .skills_column {
        flex: 1 1 40rem;
    }
    .skills_column .title {
        font-size: 2.5rem;
        margin: 0 0 1.5rem;
    }
    .skills_box .skills_content {
        position: relative;
        border: .2rem solid red;
        border-radius: .6rem;
        padding: .4rem 1.5rem;
    }
    .progress {
        padding: 1rem 0;
    }
    .progress h3 {
        font-size: 1.7rem;
        display: flex;
        justify-content: space-between;
    }
    .progress h3 span {
        font-size: 1.7rem;
        color: #fff;
    }
    .progress .bar {
        height: 1rem;
        border-radius: .6rem;
        border: .2rem solid rgb(214, 177, 177);
        padding: .5rem;
        margin: 1rem 0;
    }
    .progress .bar span {
        height: 100%;
        border-radius: .3rem;
        display: block;
        background: green;
    }
    .skills_row .skills_change {
        flex: 1 1 40rem;
    }
    .skills_change .writing {
        font-size: 2.5rem;
        margin: 0 0 1.5rem;
        color: #fff;
    }
    .skills_change_box .skills_change_content {
        position: relative;
        border: .2rem solid red;
        border-radius: .6rem;
        padding: .4rem 1.5rem;
    }
    .Stanley6 {
        padding: 1rem 0;
    }
    .Stanley6 h3 {
        font-size: 1.7rem;
        display: flex;
        justify-content: space-between;
    }
    .Stanley6 h3 span {
        font-size: 1.7rem;
        color: #fff;
    }
    .Stanley6 .bar {
        height: 1rem;
        border-radius: .6rem;
        border: .2rem solid rgb(214, 177, 177);
        padding: .5rem;
        margin: 1rem 0;
    }
    .Stanley6 .bar span {
        height: 100%;
        border-radius: .3rem;
        display: block;
        background: green;
    }
    .skills_content:nth-child(1) .progress:nth-child(1) .bar span {
        width: 100%;
    }
    .skills_content:nth-child(1) .progress:nth-child(2) .bar span {
        width: 100%;
    }
    .skills_content:nth-child(1) .progress:nth-child(3) .bar span {
        width: 50%;
    }
    .skills_content:nth-child(1) .progress:nth-child(4) .bar span {
        width: 60%;
    }
    .skills_change:nth-child(2) .Stanley6:nth-child(1) .bar span {
        width: 80%;
    }
    .skills_change:nth-child(2) .Stanley6:nth-child(2) .bar span {
        width: 20%;
    }
    .skills_change:nth-child(2) .Stanley6:nth-child(3) .bar span {
        width: 20%;
    }
    .skills_change:nth-child(2) .Stanley6:nth-child(4) .bar span {
        width: 70%;
    }
}

@media (max-width:400px) {
    .Skills_wrapper {
        max-height: auto;
        background-color: #112e42;
        padding-bottom: 7rem;
        padding-left: 20px;
        padding-right: 20px;
        color: #fff;
    }
    .heading {
        font-size: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title {
        font-size: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    .skills_row {
        display: flex;
        gap: 10rem;
        flex-wrap: wrap;
    }
    .skills_row .skills_column {
        flex: 1 1 40rem;
    }
    .skills_column .title {
        font-size: 2.5rem;
        margin: 0 0 1.5rem;
    }
    .skills_box .skills_content {
        position: relative;
        border: .2rem solid red;
        border-radius: .6rem;
        padding: .4rem 1rem;
    }
    .progress {
        padding: 1rem 0;
    }
    .progress h3 {
        font-size: 1.7rem;
        display: flex;
        justify-content: space-between;
    }
    .progress h3 span {
        font-size: 1.7rem;
        color: #fff;
    }
    .progress .bar {
        height: 1rem;
        border-radius: .6rem;
        border: .2rem solid rgb(214, 177, 177);
        padding: .5rem;
        margin: 1rem 0;
    }
    .progress .bar span {
        height: 100%;
        border-radius: .3rem;
        display: block;
        background: green;
    }
    .skills_row .skills_change {
        flex: 1 1 40rem;
    }
    .skills_change .writing {
        font-size: 2.5rem;
        margin: 0 0 1.5rem;
        color: #fff;
    }
    .skills_change_box .skills_change_content {
        position: relative;
        border: .2rem solid red;
        border-radius: .6rem;
        padding: .4rem 1.5rem;
    }
    .Stanley6 {
        padding: 1rem 0;
    }
    .Stanley6 h3 {
        font-size: 1.7rem;
        display: flex;
        justify-content: space-between;
    }
    .Stanley6 h3 span {
        font-size: 1.7rem;
        color: #fff;
    }
    .Stanley6 .bar {
        height: 1rem;
        border-radius: .6rem;
        border: .2rem solid rgb(214, 177, 177);
        padding: .5rem;
        margin: 1rem 0;
    }
    .Stanley6 .bar span {
        height: 100%;
        border-radius: .3rem;
        display: block;
        background: green;
    }
    .skills_content:nth-child(1) .progress:nth-child(1) .bar span {
        width: 100%;
    }
    .skills_content:nth-child(1) .progress:nth-child(2) .bar span {
        width: 100%;
    }
    .skills_content:nth-child(1) .progress:nth-child(3) .bar span {
        width: 50%;
    }
    .skills_content:nth-child(1) .progress:nth-child(4) .bar span {
        width: 60%;
    }
    .skills_change:nth-child(2) .Stanley6:nth-child(1) .bar span {
        width: 80%;
    }
    .skills_change:nth-child(2) .Stanley6:nth-child(2) .bar span {
        width: 20%;
    }
    .skills_change:nth-child(2) .Stanley6:nth-child(3) .bar span {
        width: 20%;
    }
    .skills_change:nth-child(2) .Stanley6:nth-child(4) .bar span {
        width: 70%;
    }
}